
<html>
<head>
<link rel = "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
</head>

<body> 
	<img src = "../static/images/bg.jpg" width=100% height="200" alt="klematis"/>
	<h1>Here is your order</h1>
	<div class="blocktext">
    	<H2> Restaurant Name: </H2>
      <p> {% for n in restaurant %}</p>
      <div><p>{{n}}</p></div>
      {% endfor %}

  		<H2> Food Name: </H2>
      <p>{% for n in foodname %}</p>
      <div><p>{{n}}</p></div>
      {% endfor %}

  		<H2> Quantity: </H2>
      {% for n in quantity %}
      <div><p>{{n}}</p></div>
      {% endfor %}

  		<H2> Name: </H2>
      {% for n in name %}
      <div><p>{{n}}</p></div>
      {% endfor %}

  		<H2> Address: </H2>
      {% for n in deliveraddress %}
      <div><p>{{n}}</p></div>
      {% endfor %}

  		<H2> Total Price: </H2>
      {% for n in totalprice %}
      <div><p>{{n}}</p></div>
      {% endfor %}

  	</div>
  	<form method="POST" action="/back">
	<p><H2> <input type="submit" value="back to main page"></H2></p>
	</form>

</body>
</html>